Importing the dependecies

In [5]:
import numpy as np
import pandas as pd

In [6]:
#Loading the data from csv file to pandas dataframe
air_quality_data = pd.read_csv('/content/AirQualityUCI.csv')

In [7]:
#printing the first 5 rows of the dataframe
air_quality_data.head()

                                                                                                            Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
10/03/2004;18.00.00;2            6;1360;150;11                 9;1046;166;1056;113;1692;1268;13 6;48 9;0                                                7578;;
10/03/2004;19.00.00;2;1292;112;9 4;955;103;1174;92;1559;972;13 3;47                             7;0  7255;;                                                NaN
10/03/2004;20.00.00;2            2;1402;88;9                   0;939;131;1140;114;1555;1074;11  9;54 0;0                                                7502;;
10/03/2004;21.00.00;2            2;1376;80;9                   2;948;172;1092;122;1584;1203;11  0;60 0;0                                                7867;;
10/03/2004;22.00.00;1            6;1272;51;6                   5;836;131;1205;116;1490;1110;11  2;59 6;0                                                7888;;

In [8]:
#Loading the data from csv file to pandas dataframe
air_quality_data = pd.read_csv('/content/AirQualityUCI.csv', sep=':')

In [9]:
#printing the first 5 rows of the dataframe
air_quality_data.head()

  Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
0  10/03/2004;18.00.00;2,6;1360;150;11,9;1046;166...
1  10/03/2004;19.00.00;2;1292;112;9,4;955;103;117...
2  10/03/2004;20.00.00;2,2;1402;88;9,0;939;131;11...
3  10/03/2004;21.00.00;2,2;1376;80;9,2;948;172;10...
4  10/03/2004;22.00.00;1,6;1272;51;6,5;836;131;12...

all the values in csv files are seperated by semicolons and few columns have commas instead of decimal point

In [10]:
#Loading the data from csv file to pandas dataframe
air_quality_data = pd.read_csv('/content/AirQualityUCI.csv', sep=';', decimal=',')

removing the last 2 columns in the data frame

In [11]:
air_quality_data = air_quality_data.iloc[:, :-2]

In [12]:
air_quality_data.iloc[[9357]]

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

removing nan rows

In [13]:
air_quality_data = air_quality_data.iloc[:9357]

In [14]:
air_quality_data.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9352,04/04/2005,10.00.00,3.1,1314.0,-200.0,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,04/04/2005,11.00.00,2.4,1163.0,-200.0,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,04/04/2005,12.00.00,2.4,1142.0,-200.0,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,04/04/2005,13.00.00,2.1,1003.0,-200.0,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,04/04/2005,14.00.00,2.2,1071.0,-200.0,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

getting some info about dataset

In [15]:
air_quality_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

In [16]:
#checking the no. of missing values
air_quality_data.isnull().sum()

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

This shows there are no missing values in the dataset
But the actual missing values are tagged with -200.

This is described in UCI documentation

In [17]:
#counting the no. of times -200 has appeared
air_quality_data.isin([-200]).sum(axis=0)

Date                0
Time                0
CO(GT)           1683
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)          1642
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                 366
RH                366
AH                366
dtype: int64

Handing the missing values.

Converting all -200 to Nan

Replace all nan vlaues to the mean of that specific values

In [18]:
air_quality_data = air_quality_data.replace(-200, np.nan)

In [19]:
air_quality_data.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9352,04/04/2005,10.00.00,3.1,1314.0,NaN,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,04/04/2005,11.00.00,2.4,1163.0,NaN,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,04/04/2005,12.00.00,2.4,1142.0,NaN,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,04/04/2005,13.00.00,2.1,1003.0,NaN,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,04/04/2005,14.00.00,2.2,1071.0,NaN,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [20]:
# Mean of every column
air_quality_data.mean(numeric_only=True)

CO(GT)              2.152750
PT08.S1(CO)      1099.833166
NMHC(GT)          218.811816
C6H6(GT)           10.083105
PT08.S2(NMHC)     939.153376
NOx(GT)           246.896735
PT08.S3(NOx)      835.493605
NO2(GT)           113.091251
PT08.S4(NO2)     1456.264598
PT08.S5(O3)      1022.906128
T                  18.317829
RH                 49.234201
AH                  1.025530
dtype: float64

In [21]:
#replacing the missing values to the mean values

In [22]:
cols = ['CO(GT)', 'NO2(GT)', 'T', 'RH']  # example columns
air_quality_data[cols] = air_quality_data[cols].fillna(air_quality_data[cols].mean())

In [23]:
air_quality_data.isnull().sum()

Date                0
Time                0
CO(GT)              0
PT08.S1(CO)       366
NMHC(GT)         8443
C6H6(GT)          366
PT08.S2(NMHC)     366
NOx(GT)          1639
PT08.S3(NOx)      366
NO2(GT)             0
PT08.S4(NO2)      366
PT08.S5(O3)       366
T                   0
RH                  0
AH                366
dtype: int64

Two task can be performed in the dataset

1. Forcasting
2. Regression

 **Forcasting with FB Prophet Algorithm**

Link: https://facebook.github.io/prophet/docs/quick_start.html#python-api

In [24]:
#converting the date format from dd/mm/yyyy to yyyy/mm/dd
date_info= pd.to_datetime(air_quality_data['Date'], format='%d/%m/%Y')
print(date_info)

0      2004-03-10
1      2004-03-10
2      2004-03-10
3      2004-03-10
4      2004-03-10
          ...
9352   2005-04-04
9353   2005-04-04
9354   2005-04-04
9355   2005-04-04
9356   2005-04-04
Name: Date, Length: 9357, dtype: datetime64[ns]

In [25]:
time_info= air_quality_data['Time']

In [26]:
print(time_info)

0       18.00.00
1       19.00.00
2       20.00.00
3       21.00.00
4       22.00.00
          ...
9352    10.00.00
9353    11.00.00
9354    12.00.00
9355    13.00.00
9356    14.00.00
Name: Time, Length: 9357, dtype: object

In [27]:
# Suppose your column name is "Time"
time_info = air_quality_data['Time']

# Replace '.' with ':' in each value
time_info = time_info.apply(lambda x: x.replace('.', ':'))

# Optional: update the DataFrame
air_quality_data['Time'] = time_info

In [28]:
#combining two series to a panda dataframe
date_time = pd.concat([date_info, air_quality_data['Time']], axis=1)

In [29]:
data = pd.DataFrame()
data['ds'] = pd.to_datetime(date_time['Date'].astype(str) + ' ' + date_time['Time'].astype(str))

In [30]:
data.head()
print(type('data'))

<class 'str'>

In [31]:
data['y'] = air_quality_data['RH']
print(data)

                      ds     y
0    2004-03-10 18:00:00  48.9
1    2004-03-10 19:00:00  47.7
2    2004-03-10 20:00:00  54.0
3    2004-03-10 21:00:00  60.0
4    2004-03-10 22:00:00  59.6
...                  ...   ...
9352 2005-04-04 10:00:00  29.3
9353 2005-04-04 11:00:00  23.7
9354 2005-04-04 12:00:00  18.3
9355 2005-04-04 13:00:00  13.5
9356 2005-04-04 14:00:00  13.1

[9357 rows x 2 columns]

In [32]:
pip install prophet

Requirement already satisfied: prophet in /usr/local/lib/python3.12/dist-packages (1.1.7)
Requirement already satisfied: cmdstanpy>=1.0.4 in /usr/local/lib/python3.12/dist-packages (from prophet) (1.0.4)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.12/dist-packages (from prophet) (2.0.2)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from prophet) (3.10.0)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.12/dist-packages (from prophet) (2.2.2)
Requirement already satisfied: holidays<1,>=0.25 in /usr/local/lib/python3.12/dist-packages (from prophet) (0.84)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.12/dist-packages (from prophet) (4.67.1)
Requirement already satisfied: importlib_resources in /usr/local/lib/python3.12/dist-packages (from prophet) (6.5.2)
Requirement already satisfied: ujson in /usr/local/lib/python3.12/dist-packages (from cmdstanpy>=1.0.4->prophet) (5.11.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (from holidays<1,>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib>=2.0.0->prophet) (3.2.5)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.4->prophet) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.4->prophet) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.17.0)

In [33]:
from prophet import Prophet

In [34]:
#training the prophet model
model = Prophet()
model.fit(data)

INFO:prophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
DEBUG:cmdstanpy:input tempfile: /tmp/tmp5bjxqkl6/p33ojl9m.json
DEBUG:cmdstanpy:input tempfile: /tmp/tmp5bjxqkl6/fvvmr7_y.json
DEBUG:cmdstanpy:idx 0
DEBUG:cmdstanpy:running CmdStan, num_threads: None
DEBUG:cmdstanpy:CmdStan args: ['/usr/local/lib/python3.12/dist-packages/prophet/stan_model/prophet_model.bin', 'random', 'seed=28976', 'data', 'file=/tmp/tmp5bjxqkl6/p33ojl9m.json', 'init=/tmp/tmp5bjxqkl6/fvvmr7_y.json', 'output', 'file=/tmp/tmp5bjxqkl6/prophet_modelmd0cz81c/prophet_model-20251109190244.csv', 'method=optimize', 'algorithm=lbfgs', 'iter=10000']
19:02:44 - cmdstanpy - INFO - Chain [1] start processing
INFO:cmdstanpy:Chain [1] start processing
19:02:46 - cmdstanpy - INFO - Chain [1] done processing
INFO:cmdstanpy:Chain [1] done processing

In [35]:
future = model.make_future_dataframe(periods=365, freq='H')
future.tail()

/usr/local/lib/python3.12/dist-packages/prophet/forecaster.py:1872: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  dates = pd.date_range(

                      ds
9717 2005-04-19 15:00:00
9718 2005-04-19 16:00:00
9719 2005-04-19 17:00:00
9720 2005-04-19 18:00:00
9721 2005-04-19 19:00:00

In [36]:
forecast = model.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

                      ds       yhat  yhat_lower  yhat_upper
9717 2005-04-19 15:00:00  33.494204   18.322760   48.329734
9718 2005-04-19 16:00:00  33.977616   17.748374   48.578370
9719 2005-04-19 17:00:00  35.610862   21.056941   51.193538
9720 2005-04-19 18:00:00  38.506470   21.896234   54.268824
9721 2005-04-19 19:00:00  42.060689   26.385443   57.130868